**/bin/
**/obj/
**/node_modules/
**/dist/
**/dist-ssr/
**/coverage/
**/.nyc_output/
**/.cache/
**/App_Data/

.vs/
.idea/
.vscode/*.log
*.user
*.suo
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example
backend/appsettings.Local.json
